MONGODB_URI=mongodb+srv://admin:demo@cluster0.oj9mebk.mongodb.net/engineer-house

# mongodb+srv://admin:demo@cluster0.oj9mebk.mongodb.net/?appName=Cluster0/skillgaming
# OR for MongoDB Atlas:
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/engineer-house

JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRE=7d

NODE_ENV=development
PORT=5000

# File Upload
MAX_FILE_SIZE=2097152
ALLOWED_FILE_TYPES=jpg,jpeg,png,webp
